<div class="nested-fields">
	<div class="field">
		<div class="row">
			<div class="col-sm-3">
				<%= f.text_field :name %>
			</div>
			<div class="col-sm-3">
				<%= f.number_field :nota_pi, step: 'any' %>
			</div>
			<div class="col-sm-3">
				<%= f.number_field :nota_pf, step: 'any'  %>
			</div>
			<div class="col-sm-1">
				<%= link_to_remove_association icon('minus-circle'), f ,:class => "btn btn-danger buttom-nested" %>
			</div>
		</div>
	</div>
</div>