// Place all the styles related to the professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: url("/img/light_toast.png");
    background-color: #cccccc;
}

label.required:after {
  content:" *";
  color: #d9534f;
}

.img-profile-preload{
	max-width: 180px;
}

.buttom-nested{
	margin-top: 25px;
	float:center;
}

.courses {
	height: 15px;
    overflow:hidden;
}

.courses-more{
	margin-top: -5px;
}